@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Grape+Nuts&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@700&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
}
.more_stor{
    background-color: #fafafa;
    padding: 20px 30px;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    text-align: center;
}
.box{
    display: flex;
    background-color: #fafafa;
    padding: 25px;
}
.box1{
    border-radius: 10px 10px 10px 10px;
    width: 380px;
    box-shadow: 5px 5px 10px 2px black;
}
.m1{
    border-radius: 10px 10px 0 0;
}
.b1{
    padding: 10px 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    
}
.tp{
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-block;
    padding: 3px;
    background-color: #fff2e2;
    border-radius: 5px;
    font-size: 15px;
}
.tp2{
    display: inline-block;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 3px;
    margin-left: 10px;
    font-size: 15px;
}
.cap{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
}
.info{
    margin-top: 10px;
    color: #474747;
    font-size: 12px;
    padding-bottom: 30px;
}
.sp{
    margin-left: 30px;
}
.box4{
    display: flex;
    background-color: #fafafa;
    padding: 25px;
}